.darkMode {
  background: gray;

  header {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
    background-color: #282828;
    border-color: transparent;
  }

  section {
    .contents {
      background: gray;
      color: black;
    }

    .sidebar {
      background: gray;
      color: black;
      border-right-color: #282828;

      li {
        &.active,
        &:hover {
          background-color: gray;
        }
      }

      &__middle {
        border-bottom-color: #282828;
      }

      h2 {
        color: black;
      }

      li {
        path {
          color: black;
        }

        span {
          color: black;
        }
      }

      .add-project {
        @include darkadd();

        &__submit {
          background-color: #282828;
        }

        &__cancel {
          color: lightgray;
        }
      }
    }

    .tasks {
      background: gray;
      color: black;
      border-right-color: #282828;

      .add-task {
        @include darkadd();

        &__submit {
          background-color: #282828;
        }

        &__cancel {
          color: lightgray;
        }
      }

      .checkbox {
        border-color: #282828;
      }

      .tasks__list li {
        border-bottom-color: #282828;
      }
    }
  }

  input {
    background-color: darkgray !important;
    color: whitesmoke;
    border-color: #282828;
  }

  .add-task {
    &__overlay {
      background-color: rgba(10, 10, 10, 0.5);
    }

    .add-task__main {
      background-color: gray;
      color: whitesmoke;
    }

    .add-task__cancel-x {
      color: whitesmoke;
    }

    &__submit {
      background-color: #282828;
    }
  }
}
