header {
  user-select: none;
  border-bottom: solid 1px #ca1200;
  background-color: $generic-bg;
  transition: height 200ms ease-in;
  box-shadow: 0 1px 2x rgba(0, 0, 0, 0.15);
  height: 44px;
  z-index: 400;
  position: fixed;
  top: 0;
  width: 100%;

  @include mq('900px') {
    padding-right: 10px;
  }

  nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 44px;

    p,
    li {
      color: white;
    }

    div {
      &.features {
        grid-area: 1/1;
        display: flex;
        padding-left: 5px;

        & .toggle {
          @include va;
          cursor: pointer;
          color: white;
          font-size: 28px;
          margin-right: 30px;

          &:hover {
            border-radius: 3px;
            background-color: rgba(255, 255, 255, 0.2);
          }
        }

        & .logo {
          img {
            padding-top: 3px;
            width: 24px;
          }
        }
      }

      &.settings {
        grid-area: 1/2;
        text-align: right;

        ul {
          float: right;

          li {
            @include va;

            list-style-type: none;
            cursor: pointer;
            width: 30px;
            height: 30px;
            text-align: center;
            vertical-align: middle;
            float: left;

            &:hover {
              border-radius: 3px;
              background-color: rgba(255, 255, 255, 0.2);
            }

            &.settings__add {
              margin-right: 15px;
              font-size: 30px;
            }

            &.settings__dark-mode svg {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
