.sidebar {
  @include no-select();
  width: 266px;
  height: calc(100vh);
  padding-top: 74px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: $generic-border;
  background: #fafafa;

  @include mq('900px') {
    display: none;
  }

  li {
    padding-left: 10px;
    padding-right: 15px;

    &:hover .sidebar__project-delete {
      display: flex;
    }
  }

  &__project {
    padding: 5px 0;
    cursor: pointer;

    &-delete {
      margin-left: auto;
      display: none;

      svg {
        color: #cacaca;
      }
    }
    &.active,
    &:hover {
      font-weight: bold;
      background: white;
    }

    & > .sidebar__dot {
      color: #ff8d85;
    }
  }

  &__projects {
    padding-left: 3px;
  }

  &__project {
    @include va('left');
  }

  &__dot {
    margin-right: 10px;
    font-size: 30px;
  }

  &__middle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-bottom: $generic-border;
    padding-left: 10px;
    cursor: pointer;

    span {
      color: #0000008a;
      margin-right: 10px;

      svg.hidden-projects {
        transform: rotate(-90deg);
      }
    }

    h2 {
      margin: 0;
      color: #333;
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }

  &__generic {
    li {
      padding: 10px 0 10px 10px;
      list-style-type: none;
      color: #333;
      display: flex;
      cursor: pointer;
      line-height: 1.5;
      font-size: 15px;

      span:first-of-type {
        margin-right: 10px;

        svg {
          width: 18px;
          height: 18px;
          color: #555;
        }
      }

      &.active,
      &:hover {
        font-weight: bold;
        background-color: white;
      }
    }
  }
}

.project-delete-modal {
  position: relative;

  &__inner {
    @include box-overlay();
    z-index: 99;
    width: 200px;
    padding: 10px;
    top: 10px;
    right: 0;
    background-color: white;

    p {
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: normal;
      font-weight: normal;
      font-size: 15px;
    }

    button {
      @include btn('50px');
    }

    span {
      @include cancel();
      font-weight: normal;
    }
  }
}

.add-project {
  padding-left: 15px;
  padding-right: 20px;
  margin-top: 20px;
  cursor: pointer;

  &__input {
    margin-bottom: 20px;
  }

  &__name {
    width: 100%;
    border: 1px solid #ddd;
    background-color: white !important;
    border-radius: 3px;
    height: 35px;
    padding: 0 10px;
  }

  &__submit {
    @include btn('100px');
  }

  &__cancel {
    @include cancel();
  }

  @include add();
}
